/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Estilo de fondo y color del body */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el scroll en la página */
}

body {
    background-image: url('../img/new_bg.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Cubre todo el espacio disponible */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    color: #000;
    position: relative;
}

/* Efecto de filtro sobre el fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 0px 20px;
    width: 100%;
    border-bottom: 3px solid rgba(141, 255, 118, 0.5);
}

/* Logo y sus elementos dentro del navbar */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    height: 60px;
}

#logo {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#logo span {
    font-size: 16px;
    color: #ffffff;
}

/* Icono del menú en el navbar */
.menu-icon {
    font-size: 30px;
    color: rgb(141, 255, 118);
    cursor: pointer;
}

/* Mensaje de bienvenida */
.welcome-message {
    margin-left: auto; /* Empuja el mensaje hacia la derecha */
    font-size: 16px;
    color: #fff;
    word-spacing: 40px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}


.welcome-message p {
    margin: 0;
}

.titulo{
    font-weight: bold;
}

/* Contenedor dividido */
.split-container {
    display: flex;
    height: calc(100vh - 60px); /* Resta la altura de la navbar */
    overflow: hidden; /* Evita el scroll en el contenedor */
}

/* Contenedor del formulario */
.form-container {
    width: 50%;
    padding: 15%;
    background: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;

    transform: translateX(-100%); /* Posición inicial fuera de pantalla (izquierda) */
    animation: slideIn 23s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0); /* Posición final */
    }
}

.form-container p {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 20px;
}

/* Contenedor para centrar los inputs */
.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #d8ffcecc;
    font-size: 16px;
}

/* Estilos para campos autocompletados */
.form-container input:-webkit-autofill,
.form-container input:-webkit-autofill:hover,
.form-container input:-webkit-autofill:focus,
.form-container input:-webkit-autofill:active {
    -webkit-text-fill-color: #fff !important; /* Texto blanco */
    -webkit-box-shadow: 0 0 0px 1000px rgb(34,34,34) inset !important; /* Fondo negro */
    transition: background-color 5000s ease-in-out 0s; /* Evita que el navegador aplique estilos predeterminados */
}


/* Estilos normales para los inputs */
.form-container input[type="text"],
.form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #d8ffce62;;    
    border-radius: 5px;
    background-color: rgb(34,34,34); /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-size: 16px;
    outline: none;
}

/* Placeholder */
.form-container input[type="text"]::placeholder,
.form-container input[type="email"]::placeholder {
    color: #cacaca; /* Color del placeholder */
    opacity: 1; /* Asegura que el color sea visible */
}

/* Estilos para el botón de submit */
.form-container input[type="submit"] {
    width: auto; /* Ancho del botón */
    padding: 10px 55px;
    margin: 20px auto; /* Centra el botón horizontalmente */
    border: none;
    border-radius: 5px;
    background: rgb(34,34,34); /* Fondo oscuro */
    color: white; /* Texto blanco */
    border: 1px solid rgba(141, 255, 118, 0.5); /* Borde verde claro */
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.4s, transform 0.3s, box-shadow 0.3s;
    display: block; /* Asegura que el margen auto funcione */
}

/* Efecto hover para el botón de submit */
.form-container input[type="submit"]:hover {
    background: rgb(141, 255, 118); /* Fondo verde claro */
    color: rgb(34,34,34); /* Texto oscuro */
    transform: scale(1.03); /* Efecto de escala */
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5); /* Sombra */
}
/* Sección de la imagen */
.image-section {
    width: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

