/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Fondo de la página */
body {
    background-image: url('../img/new_bg.jpg');
    /* Ruta de la imagen de fondo */
    background-size: cover;
    /* Cubre todo el espacio disponible */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita */
    color: #000;
    position: relative;
}

/* Efecto de cristal en el fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 0px 20px;
    width: 100%;
    border-bottom: 3px solid rgba(141, 255, 118, 0.5);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    height: 60px;
}

#logo {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#logo span {
    font-size: 16px;
    color: #ffffff;
}

.menu-icon {
    font-size: 30px;
    color: rgb(141, 255, 118);
    cursor: pointer;
}

.welcome-message {
    margin-left: auto;
    font-size: 16px;
    color: #fff;
    word-spacing: 40px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.welcome-message p {
    margin: 0;
}

.titulo {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

p {
    color: white;
}

/* Contenedor dividido */
.split-container {
    display: flex;
    height: calc(100vh - 60px);
    /* Resta la altura de la navbar */
    overflow: hidden;
}

/* Imagen a la izquierda */
.image-section {
    width: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mensaje final a la derecha */
.result-container {
    width: 50%;
    padding: 15%;
    background: rgba(0, 0, 0, 0.26);
    /* Fondo semitransparente */
    backdrop-filter: blur(10px);
    /* Efecto de cristal más pronunciado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
        /* Posición final */
    }
}

/* Efecto de cristal para el mensaje */
.result-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(200px);
    /* Desenfoque más fuerte */
    z-index: -1;
    /* Coloca la capa detrás del contenido */
}

.result-content {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    /* Asegura que el contenido esté por encima del fondo */
}

.result-content p {
    font-size: 18px;
    margin-bottom: 10px;
}

.result-content span {
    font-weight: bold;
    color: rgb(141, 255, 118);
}

.result-container input[type="submit"] {
    width: auto;
    padding: 10px 40px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #222;
    color: white;
    border: 1px solid rgba(141, 255, 118, 0.5);
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.4s, transform 0.3s, box-shadow 0.3s;
    position: absolute;
    bottom: 10vh; /* Posiciona el botón en la parte inferior */
    left: 50%; /* Centra el botón horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición horizontal */
    z-index: 1;
    /* Asegura que el botón esté por encima del fondo */
}

.result-container input[type="submit"]:hover {
    background: rgb(141, 255, 118);
    color: #222;
    transform: translateX(-50%) scale(1.03); /* Ajusta la transformación para mantener el centrado */
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

.sugerencia-container {
    width: 50%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    overflow-y: auto;
    opacity: 0;
    transform: translateX(-200%);
    animation: slideIn 1.5s ease-out forwards;
}

.sugerencia-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.sugerencia-card {
    background: rgba(34, 34, 34, 0.9);
    border: 1px solid rgba(141, 255, 118, 0.4);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.sugerencia-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.sugerencia-card h3 {
    color: rgb(141, 255, 118);
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(141, 255, 118, 0.4);
    padding-bottom: 10px;
}

.sugerencia-card ul {
    list-style-type: none;
    padding: 0;
}

.sugerencia-card li {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.sugerencia-card ul li {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.sugerencia-card ul li::before {
    content: "✔";
    color: rgb(141, 255, 118);
    position: absolute;
    left: 0;
}

/* Estilos para el botón de Sugerencias */
.button {
    border: none;
    outline: none;
    background: #222;
    width: auto;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    margin: 10px 0;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    width: 106%;
    height: 120%;
    z-index: -1;
    border-radius: inherit;
    transition: all 0.3s;
}

.gradient-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 106%;
    height: 115%;
    overflow: hidden;
    z-index: -2;
    filter: blur(10px);
    transition: all 0.3s;
}

.gradient {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    aspect-ratio: 1;
    transition: all 0.3s;
    background-image: linear-gradient(
        90deg,
        hsl(81, 51%, 21%),
        hsl(101, 80%, 42%),
        hsl(110, 81%, 64%),
        hsl(143, 81%, 64%),
        hsl(127, 27%, 53%),
        hsl(91, 81%, 64%),
        hsl(136, 81%, 64%),
        hsl(133, 100%, 50%)
    );
    animation: rotate 3s linear infinite;
    filter: blur(10px);
}

.label {
    width: 156px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
}

.button:hover .gradient-container {
    transform: translate(-50%, -50%) scale(0.98);
    filter: blur(5px);
}

.button:hover .gradient {
    filter: blur(5px);
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Mobile styles */
@media screen and (max-width: 900px) {
    body, html {
        overflow: auto;
        background-attachment: fixed;
    }
    
    .navbar {
        padding: 10px;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .logo {
        width: 100%;
        justify-content: flex-start;
        gap: 10px;
    }
    
    .logo img {
        height: 40px;
    }
    
    #logo {
        font-size: 16px;
        padding: 5px 0;
        text-align: left;
    }
    
    #logo span {
        font-size: 12px;
    }
    
    .welcome-message {
        display: none;
    }
    
    .menu-icon {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 24px;
    }
    
    .split-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .image-section,
    .result-container,
    .sugerencia-container {
        width: 100%;
        min-height: 100vh;
        padding: 10%;
    }
    
    .result-container {
        order: 2;
        justify-content: flex-start;
        padding-top: 30vh;
    }
    
    .image-section {
        order: 1;
    }
    
    .sugerencia-container {
        order: 3;
        padding: 20px;
    }
    
    .titulo {
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .result-content p {
        font-size: 16px;
    }
    
    .result-container input[type="submit"] {
        position: relative;
        align-items: center;
        bottom: auto;
        left: auto;
        transform: none;
        margin: 20px auto;
    }
    
    .sugerencia-grid {
        grid-template-columns: 1fr;
    }
    
    .sugerencia-card {
        width: 100%;
    }
    
    @media (max-height: 600px) {
        .result-container {
            justify-content: flex-start;
            padding-top: 10%;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 400px) {
    .result-container,
    .sugerencia-container {
        padding: 8%;
    }
    
    .titulo {
        font-size: 16px;
    }
    
    .welcome-message p {
        word-spacing: 15px;
        font-size: 14px;
        white-space: nowrap;
    }
    
    .logo img {
        height: 50px;
    }
    
    #logo {
        font-size: 16px;
    }
    
    #logo span {
        font-size: 14px;
    }
    
    .result-content p {
        font-size: 14px;
    }
    
    .result-container input[type="submit"] {
        padding: 10px;
        width: 90%;
    }
    
    body {
        background-attachment: fixed;
    }
    
    .result-container {
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(8px);
    }
    
    .sugerencia-container {
        width: 100%;
        padding: 15px;
    }

    .sugerencia-card h3 {
        font-size: 16px;
    }

    .sugerencia-card ul li {
        font-size: 12px;
    }
}