/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Estilo de fondo y color del body */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el scroll en la página */
}

body {
    background-image: url(img/);
    background-size: cover;
    background-position: center;
    color: #000;
    position: relative;
}

/* Efecto de filtro sobre el fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    z-index: -1;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    padding: 0px 20px;
    width: 100%;
    border-bottom: 3px solid rgba(141, 255, 118, 0.5);
}

/* Logo y sus elementos dentro del navbar */
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    height: 60px;
}

#logo {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#logo span {
    font-size: 16px;
    color: #ffffff;
}

/* Icono del menú en el navbar */
.menu-icon {
    font-size: 30px;
    color: rgb(141, 255, 118);
    cursor: pointer;
}

/* Mensaje de bienvenida */
.welcome-message {
    margin-left: auto; /* Empuja el mensaje hacia la derecha */
    font-size: 16px;
    color: #fff;
    word-spacing: 40px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}


.welcome-message p {
    margin: 0;
}

.titulo{
    font-weight: bold;
}

/* Contenedor dividido */
.split-container {
    display: flex;
    height: calc(100vh - 60px); /* Resta la altura de la navbar */
    overflow: hidden; /* Evita el scroll en el contenedor */
}

/* Contenedor del formulario */
.form-container {
    width: 50%;
    padding: 15%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container p {
    margin-bottom: 20px;
    color: #000;
    font-size: 18px;
}

/* Contenedor para centrar los inputs */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: rgba(66, 66, 66, 0.8);
    font-size: 16px;
}

/* Estilos para los inputs */
.form-container input[type="text"],
.form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cacaca;
    border-radius: 5px;
    background: rgba(212, 255, 208, 0);
    color: #949494fb;
    font-size: 16px;
    outline: none;
}


.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #222;
    color: white;
    border: 1px solid rgba(141, 255, 118, 0.5);
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.4s, transform 0.3s, box-shadow 0.3s;
}

.form-container input[type="submit"]:hover {
    background: rgb(141, 255, 118);
    color: #222;
    transform: scale(1.03);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
}

/* Sección de la imagen */
.image-section {
    width: 50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}